h1 {
  color: blue;
}

body {
  font-family: 'Anton', sans-serif;
  background-color: #6f777b;
}

ul {
  list-style-type: none;
}

a:link, a:visited {
  color: black;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


td {
  border: 2px solid black;
  text-align: left;
  padding:10px;
  font-family: 'IBM Plex Mono', monospace;
}


tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: LightCyan;}
.boldtitle{
 text-transform: uppercase;
}

.checkbox {
  text-align: left;
}

a:hover, a:active {
  background-color: #f44336;
}

.optioncategory {
  color: green;
  font-weight: bold;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

footer {
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}



.symptom {
  background-color: #d60012;
  min-height: 100px;
  min-width: 100px;
}
