h1 {
  color: blue;
}

body {
  font-family: 'Anton', sans-serif;
  background-color: #e6f2ff;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

a:link, a:visited {
  color: black;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

td {
  border: 2px solid black;
  text-align: left;

  font-family: 'IBM Plex Mono', monospace;
}


tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #e6e6ff;}
.boldtitle{
 text-transform: uppercase;
}

.checkbox {
  text-align: left;
}

a:hover, a:active {
  background-color: #e6f2ff;
}

.optioncategory {
  color: green;
  font-weight: bold;
  text-align: center;
}

.description{
  width:15%;

}

.reason{
  width:33%;
}

.myelement {
  clear:left;
  height:25px;
  margin: 20px;  // See below for explanation of this
 }

div.container {
    width: 100%;
    border: 1px solid gray;
}

footer {
    padding: 1em;
    color: black;
    clear: left;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}



.symptom {
  background-color: #d60012;
  min-height: 100px;
  min-width: 100px;
}
